button {
  padding: 0;
}

.buttonset {
  display: flex;
  align-items: center;

  &--center {
    justify-content: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--spaced {
    justify-content: space-around;
  }

  &--fullwidth {
    grid-column-start: 1;
    grid-column-end: -1;
  }

}

.button-link {
  color: $primary-color;
  background-color: transparent;
  font-weight: $font-weight-regular;
  margin: $spacer-quarter 0;
  display: inline;
  cursor: pointer;
  border: 0;
  font-family: $font-family-base;
  font-size: ms(0);
  // text-decoration: underline;

  img {
    margin-right: $spacer-quarter;
  }

  &:visited {
    color: $primary-color;
  }

  &:hover {
    text-decoration: underline;
  }
}

.button {
  min-width: $min-button-width;
  max-width: $max-button-width;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-base;
  border: 1px solid transparent;
  border-radius: $medium-radius;
  color: $white-color;
  background-color: $primary-color;
  padding: 0.25rem 0.75rem;
  margin: $spacer-quarter $spacer-half;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 0.8rem;
  transition-property: all;
  transition-duration: $short-transition-duration;
  white-space: pre-line; // nowrap;
  cursor: pointer;
  text-decoration: none;

  &.enter {
    margin: 0;
  }

  &:disabled {
    color: $white-color;
    border: 1px solid $light-gray-color;
    background-color: $light-gray-color;
    cursor: inherit;
  }

  &--active,
  &:hover:enabled {
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: lighten($primary-color, 25);
  }

  &--small {
    padding: 0.1rem 0.4rem;
    min-width: unset;
    margin: 0;
  }

  &--compact {
    min-width: unset;
    margin: $spacer-quarter;
    padding: $spacer-quarter $spacer;
  }

  &--centered {
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }

  &--nomargin {
    margin: auto 0;
  }

  &--marginvert {
    margin: $spacer 0;
  }

  &--nomax {
    max-width: unset;
  }

  &--maxwidth {
    max-width: unset;
    width: 100%;
  }

  &--outline {
    border: 1px solid shade($primary-color, lighter-1);
    color: $primary-color;
    background-color: shade($primary-color, lighter-4);

    &:hover:enabled {
      color: $white-color;
      border: 1px solid $primary-color;
      background: $primary-color;
    }

    &:disabled {
      border: 1px solid $light-gray-color;
    }
  }

  &--outline-secondary {
    border: 1px solid shade($secondary-color, lighter-3);
    color: shade($secondary-color, darker-2);
    background-color: shade($secondary-color, lighter-4);

    &:hover:enabled {
      color: $white-color;
      border: 1px solid $secondary-color;
      background: $secondary-color;
    }
  }

  &--secondary {
    background-color: $secondary-color;
    border: 1px solid transparent;

    &.button--active,
    &:hover:enabled {
      color: $secondary-color;
      border: 1px solid $secondary-color;
      background-color: shade($secondary-color, lighter-4);
    }
  }

  &--secondary-light {
    color: $dark-gray-color;
    background-color: shade($secondary-color, lighter-2);
    border: 1px solid transparent;

    &.button--active,
    &:hover:enabled {
      color: $secondary-color;
      border: 1px solid shade($secondary-color, lighter-2);
      background-color: lighten(shade($secondary-color, lighter-2), 40);
    }
  }

  &--success {
    background-color: $success-color;
    border: 1px solid transparent;

    &.button--active,
    &:hover:enabled {
      color: $success-color;
      border: 1px solid $success-color;
      background-color: lighten($success-color, 40);
    }
  }

  &--is-danger {
    background-color: $danger-color;
    border: 1px solid transparent;

    &.button--active,
    &:hover:enabled {
      color: $danger-color;
      border: 1px solid $danger-color;
      background-color: lighten($danger-color, 40);
    }
  }

  &--is-warning {
    background-color: $warning-color;
    border: 1px solid transparent;

    &.button--active,
    &:hover:enabled {
      color: $warning-color;
      border: 1px solid $warning-color;
      background-color: lighten($warning-color, 40);
    }
  }
}

.iconbutton {
  background: transparent;
  border-radius: 50%;
  padding: 0;
  width: 28px;
  height: 28px;
  min-width: 0;
  border: 0 !important;
  margin: 0 $spacer-quarter;
  color: $primary-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $white-color;
    background-color: $primary-color;
    cursor: pointer;
  }

  &--is-danger {
    color: $danger-color;

    &:hover {
      background-color: $danger-color;
    }
  }
}

.option-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-base;
  border: 1px solid transparent;
  border-radius: $medium-radius;
  color: $black-color;
  background-color: shade($primary-color, lighter-2);
  padding: 0.5em 1.5em;
  margin: $spacer-half;
  letter-spacing: 1px;
  position: relative;
  line-height: 1.5;
  font-size: ms(-1);
  transition-property: all;
  transition-duration: $short-transition-duration;
  white-space: pre-line;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $white-color;
    border: 1px solid $primary-color;
    background-color: $primary-color;
  }

  &--selected {
    &::before {
      content: '';
      background: url('/icons/check-circle.svg');
      position: absolute;
      left: -12px;
      width: 24px;
      height: 24px;
    }
  }
}